<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sistemasfireg.igp.org.sismosperu"
    tools:node="replace">

    <!--<uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26" />
    -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.htc.launcher.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="com.htc.launcher.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <!-- for htc -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />

    <!-- for sony -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />

    <!-- for apex -->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />

    <!-- for solid -->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />

    <!-- for huawei -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />

    <!-- for ZUK -->
    <uses-permission android:name="android.permission.READ_APP_BADGE" />

    <!-- for OPPO -->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />
    <uses-permission android:name="android.permission.PERMISSION_GRANTED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission android:name="android.permission.WRITE_IN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <supports-screens android:xlargeScreens="true" />
    <supports-screens android:largeScreens="true" />
    <supports-screens android:anyDensity="true" />
    <supports-screens android:normalScreens="true" />
    <supports-screens android:smallScreens="true" />

    <permission
        android:name="sistemasfireg.igp.org.sismosperu.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="sistemasfireg.igp.org.sismosperu.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:supportsRtl">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="sistemasfireg.igp.org.sismosperu"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="android.support.VERSION"
            android:value="26.0.0"
            tools:replace="android:value" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ultimosismo3"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyChRE4B12A8MFwNc4ftdxivF5hXi-e7b3o" />

        <!--
            <receiver
            android:name=".InicioReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name=".Glosarioestatico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ultimosismoslist"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ajustesnotificaciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Localizacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Getlocationandmore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Listadoenmapa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notificacionesconfig"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Listadoredessociales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contenedorredsocial"
            android:screenOrientation="portrait" />

        <service android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".Messagingservicef">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Serviciorevisionsismosnotificaciones"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.START_SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.STOP_SERVICE" />
            </intent-filter>
        </receiver>

        <!--
        <receiver android:name=".DeviceBootReceiver"
            android:enabled="false" android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>

                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        -->


        <!--
        <receiver android:name=".DeviceBootReceiver"
            android:enabled="false" android:exported="false">
            <intent-filter>
                 <action android:name="android.intent.action.BOOT_COMPLETED"/>
             </intent-filter>
        </receiver>
        -->


        <!--
             <receiver
                 android:name=".InicioReceiver"
                 android:enabled="true"
                 android:exported="true">
                 <intent-filter>
                     <action android:name="android.intent.action.BOOT_COMPLETED" />
                 </intent-fi            </receiver>





                     <service
                             android:name=".Notificationservicesandroidlistener"
                         android:label="@string/app_name"
                         android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
                         <intent-filter>
                             <action android:name="android.service.notification.NotificationListenerService" />
                         <-filter>
                     </service>


                           <service android:name=".Triggerandroidtwo">

                      /service>



                            <service android:name=".Messagingservicedata">
                                <intent-filter>
                                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                                </intent-filter>
                            </service>





        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="{applicationId}" />
            </intent-filter>
        </receiver>

        <service
            android:name="sistemasfireg.igp.org.sismosperu.Firebasemessagingcmservice"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        -->

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.uae.ncms" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/azulbackground" />

        <!--
        <service
            android:name="sistemasfireg.igp.org.sismosperu.Firebasemessagingthree"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        -->

        <activity
            android:name=".Configurar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Configuraciones"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Ultimosismo4"
            android:screenOrientation="portrait" />
        <activity android:name=".Contactenos" />
        <activity android:name=".Irposter"></activity>
    </application>

</manifest>